<div class="personajes">
    <div class="personajes__header">
        <div class="personajes__search">
            <img class="personajes__icon" src="../../../assets/img/search.png" alt="">
            <input class="personajes__searchText" (keyup)="searchListPersonajes()" [(ngModel)]="searchPersonaje" type="text" pInputText placeholder="buscar...">
        </div>
        <div class="personajes__goback">
            <img routerLink="/home" class="personajes__buttonHomepage" src="../../../assets/img/home.png">
        </div>
    </div>
    <div class="list-personajes">
        <div class="row">
            <div class="col-2" *ngFor="let character of ListPersonajes">
                <div class="list-personajes__item">
                  <img
                    routerLink="/ListPersonajes/{{ character.name }}"
                    class="list-personajes__img"
                    src="{{ character.image }}"
                    alt="{{ character.name }}"
                  />
                  <p class="list-personajes__img__name">{{ character.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <p class="homepage__option">
            <a routerLink="/list-personajes">PERSONAJES</a>
          </p>
        </div>
        <div class="col-4">
          <p class="homepage__option" >
            <a routerLink="/list-casas">CASAS</a>
          </p>
        </div>
        <div class="col-4">
          <p class="homepage__option" >
            <a routerLink="/cronologia">CRONOLOGIA</a>
          </p>
        </div>
    </div>
</div>