<div class="casas">
    <div class="casas__header">
        <div class="casas__search">
          <img class="casas__icon" src="../../../assets/img/search.png" alt="">
          <input class="casas__searchText" (keyup)="searchCasas()" [(ngModel)]="searchCasa" type="text" pInputText placeholder="buscar...">
        </div>
        <div class="casas__homepage">
            <img routerLink="/home" class="casas__buttonHomepage" src="../../../assets/img/home.png">
        </div>
    </div>
    <div class="list-casas">
        <div class="row">
            <div class="col-2" *ngFor="let house of Casas">
                <div class="list-casas__item">
                  <img
                    routerLink="/Casas/{{ house.name }}"
                    class="list-casas__img"
                    src="{{ house.image }}"
                    alt="{{ house.name }}"
                />
                <p class="list-casas__img__name">{{ house.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p class="homepage__option">
          <a routerLink="/list-personajes">PERSONAJES</a>
        </p>
      </div>
      <div class="col-4">
        <p class="homepage__option" >
          <a routerLink="/list-casas">CASAS</a>
        </p>
      </div>
      <div class="col-4">
        <p class="homepage__option" >
          <a routerLink="/cronologia">CRONOLOGIA</a>
        </p>
      </div>
  </div>
</div>