<div class="homepage">
    <p class="homepage__title">Games Of Thrones</p>
    <div class="row">
      <div class="col-4">
        <p class="homepage__option">
          <a routerLink="/pages/personajes/list-personajes">PERSONAJES</a>
        </p>
      </div>
      <div class="col-4">
        <p class="homepage__option" >
          <a routerLink="/pages/casas/list-casas">CASAS</a>
        </p>
      </div>
      <div class="col-4">
        <p class="homepage__option" >
          <a routerLink="/pages/cronologia">CRONOLOGIA</a>
        </p>
      </div>
    </div>
</div>
  