<div class="cronologia">
    <div class="cronologia__header">
        <div class="cronologia__homepage">
            <img routerLink="/" class="cronologia__buttonHomepage" src="">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <p class="homepage__option">
            <a routerLink="/">PERSONAJES</a>
          </p>
        </div>
        <div class="col-4">
          <p class="homepage__option" >
            <a routerLink="/">CASAS</a>
          </p>
        </div>
        <div class="col-4">
          <p class="homepage__option" >
            <a routerLink="/">CRONOLOGIA</a>
          </p>
        </div>
    </div>
</div>